{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block content %}
<header>
</header>
<main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
</main>
{% endblock content %}
