{% extends 'base.html' %}

{% block title %}

{% endblock title %}
{% block content %}
<header></header>
<main>
    <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <p><a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todo_list_detail.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' todo.id %}">{{ todo.task }}</a></td>
                    <td> {{ todo.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
    {% endblock content %}
