<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    {% block content %}{% endblock content %}
    <footer></footer>
</body>

</html>
